*{
  box-sizing: border-box;
}

body {
  background-image: url('https://images.pexels.com/photos/551628/pexels-photo-551628.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: 100%;
  /* display: flex; */
  font-family: 'Josefin Sans', sans-serif;
  /* position: relative; */
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

footer {
  color: white;
  position: absolute;
  bottom: 15px;
  right: 15px;
}